.lista-opciones label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
}

.lista-opciones select {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    padding: 20px 30px;
    width: 100%;
    border: none;
    outline-color: #6278f7;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}